body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-pt-sans-caption: "PT Sans Caption";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;

  /* Colors */
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.5);
}
